# Port configuration
PORT=5000
NODE_ENV=development

# Path to service account json file (for local development)
FIREBASE_SERVICE_ACCOUNT_PATH=service-account.json

# Raw JSON string of service account (used in production on Render / Cloud hosting)
FIREBASE_SERVICE_ACCOUNT_JSON=
